mixin nav(data)
    +e('nav').nav
        +e('ul').nav-list
            each item in data
                +e.nav-item(class=(item.isActive ? 'is-active' : '') aria-haspopup=(item.dropdown ? 'true' : false))
                    +e('a').nav-link(href="#" title=item.text).js-toggle-head-dropdown
                        | #{item.text}

                    if(item.dropdown)
                        +e.dropdown.js-head-dropdown(aria-hidden="true")
                            +e('ul').dropdown-list
                                each itemDropdown in item.dropdown
                                    +e.dropdown-item
                                        +e('a')(href="#", title="").dropdown-link
                                            | #{itemDropdown}

//- +b('header').header(class=(title === 'Detail' ? '--transparent js-transparent' : ''))
//-     +e.search
//-         +e.search-inner
//-             +e.search-bar
//-                 +e('form').search-form
//-                     +e('button').search-icon-input(type="submit")
//-                         +svg('search')
//-                     +e('input').search-input(placeholder="Suche…" type="search" name="search")

//-                 +e('button')(type="button").search-close
//-                     +svg('close')
//-     +e.wrap
//-         +e.start
//-             +e('button')(type='button').hamburger.-header-click-icon
//-                 +svg('hamburger')

//-             +nav([{
//-                 text: 'Start'
//-             }, {
//-                 text: 'Speiseöl-Sortiment',
//-                 dropdown: ['Speiseöle', 'Gewürze', 'Superfoods']
//-             }, {
//-                 text: 'Rezepte'
//-             }])

//-         +e.center
//-             +e.logo
//-                 +e('a')(href="/" title="").logo-link
//-                     +svg('steinberger-logo')

//-         +e.right
//-             +e('a')(href="https://steinberger-naturprodukte.de/account/login", title="").icon.--account.-header-click-icon
//-                 +svg('account')

//-             +e('button').icon.--search.-header-click-icon
//-                 +svg('search')

//-             +e('a')(href="#").icon.--cart.-header-click-icon
//-                 +svg('cart')


mixin mega-menu(title, menuList, imageContent)
    //- imageContent = [{
        src: '',
        title: '',
        contentLink: ''
    //- }]
    +b.mega-submenu
        +e.container
            +e.links
                h3 #{title}
                +e.menu-row
                    ul 
                        each item in menuList
                            li
                                a(href="#") !{item}

            +e.with-img
                each item in imageContent
                    +e.img-item
                        +e.img-wrap
                            a(href="#")
                                img(src=item.src)
                        
                        +e.img-content
                            h3 !{item.title}
                            +e('p').img-content-link
                                a(href="#") !{item.contentLink}

+b.mega-menu(style="display: none;" class=(title === 'Detail' ? '--transparent' : ''))
    .header__search
        .header__search-inner
            .header__search-bar
                form.header__search-form
                    button.header__search-icon-input(type="submit")
                        +svg('search')
                    input.header__search-input(placeholder="Suche…" type="search" name="search")

                button(type="button").header__search-close
                    +svg('close')

    +e('header').header(class=(title === 'Detail' ? '--transparent js-transparent' : ''))
        +e.wrap
            +e.flex-item.--fill
                +e('button').hamburger
                    +svg('hamburger')

                +e('nav').nav
                    +e('ul').nav-list
                        +e.nav-item
                            +e('a')(href="#").link Speiseöle
                            +mega-menu(
                                'Speiseöle',
                                [
                                    'Hanfsamenöl<span> Bio</span>',
                                    'MCT C8 Öl',
                                    'MCT Öl',
                                    'Schwarzkümmelöl<span> Bio</span>',
                                    'Kürbiskernöl<span> Bio</span>',
                                    'Leinöl <span> Bio</span>',
                                    'Kokosöl <span> Bio</span>',
                                    'Natives Olivenöl <span> Bio</span>'
                                ],
                                [{
                                    src: 'https://cdn.shopify.com/s/files/1/0281/2379/1499/products/01-olivenoel_600x.jpg?v=1586444076',
                                    title: 'Neu:',
                                    contentLink: ' Natives Olivenöl<span> Bio</span>'
                                }, {
                                    src: 'https://cdn.shopify.com/s/files/1/0281/2379/1499/products/01-olivenoel_600x.jpg?v=1586444076',
                                    title: 'Neu:',
                                    contentLink: ' Natives Olivenöl<span> Bio</span>'
                                }]
                            )
                            .sidebar-menu__plus
                        +e.nav-item
                            +e('a')(href="#").link Gewürze
                            +mega-menu(
                                'Gewürze',
                                [
                                    'Zimt<span> Bio</span>',
                                    'Körniges Rosé Kristall-Salz',
                                    'Schwarzer Pfeffer<span> Bio</span>',
                                    'Kurkuma Pulver<span> Bio</span>'
                                ],
                                [{
                                    src: 'https://cdn.shopify.com/s/files/1/0281/2379/1499/products/01-olivenoel_600x.jpg?v=1586444076',
                                    title: 'Neu:',
                                    contentLink: ' Natives Olivenöl<span> Bio</span>'
                                }, {
                                    src: 'https://cdn.shopify.com/s/files/1/0281/2379/1499/products/01-olivenoel_600x.jpg?v=1586444076',
                                    title: 'Neu:',
                                    contentLink: ' Natives Olivenöl<span> Bio</span>'
                                }]
                            )
                            .sidebar-menu__plus
                        +e.nav-item
                            +e('a')(href="#").link Superfoods
                            +mega-menu(
                                'Superfoods',
                                [
                                    'Hanfsamenöl<span> Bio</span>',
                                    'Hagebuttenpulver<span> Bio</span>',
                                    'Hanfsamen<span> Bio</span>',
                                    'Sencha Grüntee<span> Bio</span>',
                                    'Kakaopulver<span> Bio</span>',
                                    'MSM Pulver',
                                    'MCT Öl',
                                    'MCT C8 Öl',
                                    'Dulseflocken<span> Bio</span>',
                                    'Macapulver<span> Bio</span>',
                                    'Kurkuma Pulver<span> Bio</span>',
                                    'Kakao Nibs<span> Bio</span>',
                                    'Flohsamenschalen<span> Bio</span>',
                                    'Ashwagandha<span> Bio</span>',
                                    'Gerstengraspulver<span> Bio</span>',
                                    'Spirulina-Pulver<span> Bio</span>',
                                    'Erythritol Kristalle'
                                ],
                                [{
                                    src: 'https://cdn.shopify.com/s/files/1/0281/2379/1499/products/01-olivenoel_600x.jpg?v=1586444076',
                                    title: 'Neu:',
                                    contentLink: ' Natives Olivenöl<span> Bio</span>'
                                }, {
                                    src: 'https://cdn.shopify.com/s/files/1/0281/2379/1499/products/01-olivenoel_600x.jpg?v=1586444076',
                                    title: 'Neu:',
                                    contentLink: ' Natives Olivenöl<span> Bio</span>'
                                }]
                            )
                            .sidebar-menu__plus
                        +e.nav-item
                            +e('a')(href="#").link Tee
                            +mega-menu(
                                'Tee',
                                [
                                    'Hanfsamenöl<span> Bio</span>',
                                    'MCT C8 Öl',
                                    'MCT Öl',
                                    'Schwarzkümmelöl <span> Bio</span>'
                                ],
                                [{
                                    src: 'https://cdn.shopify.com/s/files/1/0281/2379/1499/products/01-olivenoel_600x.jpg?v=1586444076',
                                    title: 'Neu:',
                                    contentLink: ' Natives Olivenöl<span> Bio</span>'
                                }, {
                                    src: 'https://cdn.shopify.com/s/files/1/0281/2379/1499/products/01-olivenoel_600x.jpg?v=1586444076',
                                    title: 'Neu:',
                                    contentLink: ' Natives Olivenöl<span> Bio</span>'
                                }]
                            )
                            .sidebar-menu__plus
                        +e.nav-item.--not-category
                            +e('a')(href="#").link Ebooks

                        +e.nav-item
                            +e('a')(href="#").link Magazin

            +e.flex-item.--logo
                +e.logo
                    +e('a')(href="/" title="").logo-link
                        +svg('steinberger-logo')

            +e.flex-item.--fill
                a(href="https://steinberger-naturprodukte.de/account/login" title="").header__icon.header__icon--account.header-click-icon
                    <svg role="presentation" viewBox="0 0 20 20">
                        <g transform="translate(1 1)" stroke="#000000" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="square">
                            <path d="M0 18c0-4.5188182 3.663-8.18181818 8.18181818-8.18181818h1.63636364C14.337 9.81818182 18 13.4811818 18 18"></path>
                            <circle cx="9" cy="4.90909091" r="4.90909091"></circle>
                        </g>
                    </svg>

                button.header__icon.header__icon--search.header-click-icon
                    <svg role="presentation" viewBox="0 0 21 21">
                        <g transform="translate(1 1)" stroke="#000000" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="square">
                            <path d="M18 18l-5.7096-5.7096"></path>
                            <circle cx="7.2" cy="7.2" r="7.2"></circle>
                        </g>
                    </svg>

                a(href="#").header__icon.header__icon--cart.header-click-icon
                    <svg role="presentation" viewBox="0 0 19 23">
                        <path d="M0 22.985V5.995L2 6v.03l17-.014v16.968H0zm17-15H2v13h15v-13zm-5-2.882c0-2.04-.493-3.203-2.5-3.203-2 0-2.5 1.164-2.5 3.203v.912H5V4.647C5 1.19 7.274 0 9.5 0 11.517 0 14 1.354 14 4.647v1.368h-2v-.912z" fill="#000000"></path>
                    </svg>
